<div class="container">
    <div>
        <a href="/notes/new" class="btn btn-primary">Create new Note</a>
    </div>
    <div>
        <form action="" method="get">
            <select name="theme">
                <option value="default">Default Style</option>
                <option value="dark">Dark Style</option>
            </select>
            <input class="btn btn-primary" type="submit" value="Submit"/>
        </form>
    </div>
</div>
<div class="container">

    <div data-toggle="buttons">
        <a href="?order=finish" class="btn btn-primary active">By finish Date</a>
        <a href="?order=create" class="btn btn-primary">By create Date</a>
        <a href="?order=importance" class="btn btn-primary">By Importance</a>
    </div>
    <a href="?show=finished" class="btn btn-primary">Show finished</a>
</div>

<ul>
    {{#each notes}}
        <li>
            <div class="container">
                <div class="flex-fill">
                    <div class="container">
                        <div>{{this.dueDate}}&nbsp;</div>
                        <div>{{this.title}}</div>
                        <div>{{this.importance}}</div>
                    </div>
                    <div class="container">
                        <div><label for="finished">Finished&nbsp;</label><input type="checkbox" {{#if this.finished}}checked{{/if}}></div>
                        <div class="flex-fill">{{this.description}}</div>
                    </div>
                </div>
                <div>
                    <a href="/notes/edit/{{this._id}}" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </li>
    {{else}}
        <li>
            No Notes available
        </li>
    {{/each}}
</ul>
