<button type="button" class="btn btn-primary">Create new Note</button>
<select>
    <option>Default Style</option>
    <option>Dark Style</option>
</select>
<br>
<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary active">
        <input type="radio" name="options" id="option1" autocomplete="off" checked>By finish Date
    </label>
    <label class="btn btn-primary">
        <input type="radio" name="options" id="option2" autocomplete="off">By create Date
    </label>
    <label class="btn btn-primary">
        <input type="radio" name="options" id="option3" autocomplete="off">By Importance
    </label>
</div>
<div class="btn-group pull-md-right">
    <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
        Show finished
    </button>
</div>

<ul>
    {{#each notes}}
        <li>
            <p>
                <span>{{this.due}}</span>
                <span>{{this.title}}</span>
                <span>{{this.importance}}</span>
            </p>
            <div>
                <input type="checkbox" {{#if this.finished}}checked{{/if}}>
                <textarea>{{this.description}}</textarea>
            </div>

        </li>
    {{else}}

    {{/each}}
</ul>
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
