<a href="/notes/new" class="btn btn-primary">Create new Note</a>
<form action="/" method="psot">
    <select>
        <option>Default Style</option>
        <option>Dark Style</option>
    </select>
    <input class="btn btn-primary" type="submit" />
</form>
<br>
<div class="btn-group" data-toggle="buttons">
    <a href="?order=finish" class="btn btn-primary active">By finish Date</a>
    <a href="?order=create" class="btn btn-primary">By create Date</a>
    <a href="?order=importance" class="btn btn-primary">By Importance</a>
</div>
<div class="btn-group pull-md-right">
    <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
        Show finished
    </button>
</div>

<ul>
    {{#each notes}}
        <li>
            <p>
                <span>{{this.due}}</span>
                <span>{{this.title}}</span>
                <span>{{this.importance}}</span>
            </p>
            <div>
                <input type="checkbox" {{#if this.finished}}checked{{/if}}>
                <textarea>{{this.description}}</textarea>
            </div>

        </li>
    {{else}}

    {{/each}}
</ul>
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
