<div class="container">
    <div>
        <a href="/notes/new{{#if query}}{{query}}{{/if}}" class="btn btn-primary">Create new Note</a>
    </div>
    <div>
        <form action="/?{{buttons.filter.current_href}}{{buttons.sorting_href}}" method="post"><button type="submit" name="theme" value="switch" class="btn btn-secondary {{buttons.theme.class}}">Style switcher</button></form>
    </div>
</div>
<div class="container">

    <div data-toggle="buttons">
        <a href="/?{{buttons.filter.current_href}}{{buttons.finish.href}}" class="btn btn-secondary {{buttons.finish.class}}">By finish Date</a>
        <a href="/?{{buttons.filter.current_href}}{{buttons.create.href}}" class="btn btn-secondary {{buttons.create.class}}">By create Date</a>
        <a href="/?{{buttons.filter.current_href}}{{buttons.importance.href}}" class="btn btn-secondary {{buttons.importance.class}}">By Importance</a>
    </div>
    <a href="/?{{buttons.filter.href}}{{buttons.sorting_href}}" class="btn btn-secondary {{buttons.filter.class}}">Show finished</a>
</div>

<ul>
    {{#each notes}}
        <li>
            <div class="container">
                <div class="flex-fill">
                    <div class="container">
                        <div>
                            {{#if this.dueDate}}
                                {{this.dueDate}}
                            {{else}}
                                due date not set!
                            {{/if}}
                        </div>
                        <div>{{this.title}}</div>
                        <div>
                            {{#drawStars this.importance }}
                                {{this}}
                            {{/drawStars}}
                        </div>
                    </div>
                    <div class="container">
                        <div><input type="checkbox" {{#if this.done}}checked{{/if}} disabled><label for="finished">Finished&nbsp;</label></div>
                        <textarea class="flex-fill" disabled>{{this.description}}</textarea>
                    </div>
                </div>
                <div>
                    <a href="/notes/edit/{{this._id}}{{#if this.query}}{{this.query}}{{/if}}" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </li>
    {{else}}
        <li>
            <div class="alert alert-info" role="alert">
                No Todo found
            </div>
        </li>
    {{/each}}
</ul>
