<div class="container">
    <div>
        <a href="/notes/new" class="btn btn-primary">Create new Note</a>
    </div>
    <div>
        <a href="/?theme={{othertheme}}{{params}}" class="btn btn-secondary">Style switcher</a>
    </div>
</div>
<div class="container">

    <div data-toggle="buttons">
        <a href="?show={{buttons.show}}&order=finish{{#if buttons.direction}}{{else}}&direction=desc{{/if}}" class="btn btn-secondary {{buttons.finish}}">By finish Date</a>
        <a href="?show={{buttons.show}}&order=create{{#if buttons.direction}}{{else}}&direction=desc{{/if}}" class="btn btn-secondary {{buttons.create}}">By create Date</a>
        <a href="?show={{buttons.show}}&order=importance{{#if buttons.direction}}{{else}}&direction=desc{{/if}}" class="btn btn-secondary {{buttons.importance}}">By Importance</a>
    </div>
    <a href="?show={{buttons.showBtnState}}" class="btn btn-secondary {{buttons.filter}}">Show finished</a>
</div>

<ul>
    {{#each notes}}
        <li>
            <div class="container">
                <div class="flex-fill">
                    <div class="container">
                        <div>
                            {{#if this.dueDate}}
                                {{this.dueDate}}
                            {{else}}
                                due date not set!
                            {{/if}}
                        </div>
                        <div>{{this.title}}</div>
                        <div>
                            {{#drawStars this.importance }}
                                {{this}}
                            {{/drawStars}}
                        </div>
                    </div>
                    <div class="container">
                        <div><input type="checkbox" {{#if this.done}}checked{{/if}} disabled><label for="finished">Finished&nbsp;</label></div>
                        <textarea class="flex-fill" disabled>{{this.description}}</textarea>
                    </div>
                </div>
                <div>
                    <a href="/notes/edit/{{this._id}}" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </li>
    {{else}}
        <li>
            <div class="alert alert-info" role="alert">
                No Todo found
            </div>
        </li>
    {{/each}}
</ul>
