<form method="post" action="{{#if note}}/notes/edit/{{note._id}}{{else}}/notes/new{{/if}}{{#if query}}{{query}}{{/if}}">
    <h1>Neue Todo</h1>
    <label>Title</label>
    <input class="form-control" type="text" name="title" id="InputNewNoteTitle" placeholder="Title" value="{{note.title}}" required/>
    <br>
    <label>Description</label>
    <textarea class="form-control" name="description" id="InputNewNoteDescription" rows="4" cols="40">{{note.description}}</textarea>
    <br>
    <label>Importance</label>
    <input class="form-control" type="number" id="importance" name="importance" max="5" min="1" value="{{note.importance}}" required>
    <br>
    <label>Due date</label>
    <input class="form-control" name="dueDate" type="date" id="InputNewNoteDateTime" value="{{note.dueDate}}">
    <br>
    <label>Done</label>
    <input class="" name="done" type="checkbox" id="InputNewNoteDone" value="true" {{#if note.done}}checked{{/if}}>
    <br>
    <label></label>
    <button class="btn btn-primary" id="BtnNewNoteSave" type="submit" value="Save">Save</button>
    <a href="/{{#if query}}{{query}}{{/if}}" class="btn btn-secondary" id="BtnNewNoteCancel" type="reset" value="Cancel">Cancel</a>
</form>